<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DED</title>
    <style type="text/css">
        body,html{
            height: 100%;
            width: fit-content;
            
        }
        p{
            color: aquamarine;
            font-weight: 600;
            font-size: larger;
            font-family: 'Times New Roman', Times, serif;
        }

        div{
            background-color: transparent;
        }
    </style>
    
</head>
<body>
    <a href="#"><img src="https://c.tenor.com/HLajIP0vc_cAAAAC/james-may-cheese.gif" height="100%" width="100%"></a>
    <div>
        <p>
            IF YOU SEE DIS, DED
        
        </p>
    </div>
    
</body>
</html>